#input-description, #input-timePeriod, #input-totalTime {
    padding: 5px;
    text-align: center;
}

#input-description:focus, #input-timePeriod:focus, #input-totalTime:focus {
    outline: none;
}

#input-description {
    width: 70%;
}

#input-timePeriod, #input-totalTime {
    width: 10%;
}

#input-totalTime:hover {
    cursor: default;
}