#input-description, #input-start-time, #input-end-time, #input-total-time {
    padding: 5px;
    text-align: center;
}

#input-description:focus, #input-start-time:focus, #input-end-time:focus, #input-total-time:focus {
    outline: none;
}

#input-description {
    width: 70%;
}

#input-start-time, #input-end-time, #input-total-time {
    width: 5%;
}

#input-total-time:hover {
    cursor: default;
}