#navigator {
    background-color: #ffffff;
}

#navigator ul {
    list-style-type: none;
}

#navigator ul li {
    display: inline;
    border-right: 1px solid #202020;
}

#navigator ul li .link {
    padding: 0 20px;
    text-decoration: none;
    color: #202020;
}

#navigator ul li .link:hover {
    background-color: #ebebeb;
}