#users-adder {

    padding: 20px;

    background-color: #ffffff;

}

#users-adder hr {
    margin: 10px 0 20px 0;
}

#users-adder #container {
    
    padding: 20px;

    background-color: #ebebeb;

}

#users-adder #container form input[type="text"] {

    width: 50%;
    padding: 20px;
    border: none;
    border-bottom: 1px solid #ebebeb;
    outline: none;

    background-color: #ffffff;
    color: #202020;

    font-size: 40px;

}

#users-adder #container form input[type="submit"] {
    display: none;
}