#users-getter {

    padding: 20px;
    
    background-color: #ffffff;

}

#users-getter hr {
    margin: 10px 0 20px 0;
}

#users-getter #container {

    padding: 20px;

    background-color: #ebebeb;

}

#users-getter #container .link button {

    width: 100%;
    padding: 20px;
    border: none;
    border-bottom: 1px solid #ebebeb;

    background-color: #202020;
    color: #ffffff;

    font-size: 40px;

}

#users-getter #container .link button:hover {

    background-color: #303030;

    cursor: pointer;

}