#users-getter .link {
    text-decoration: none;
}

#users-getter .link button {
    width: 100%;
    padding: 20px;
    font-size: 40px;
    border: none;
    border-bottom: 1px solid #303030;
    background-color: #202020;
    color: #ffffff;
}

#users-getter .link button:hover {
    cursor: pointer;
    background-color: #303030;
}